<section>
    <a href="/dashboard" class="is-pulled-right">Return to Dashboard</a>
 <h1 class="title is-2 pb-4 has-text-info"> * Create a New Post *</h1>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Your blog post title goes here."/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Your blog post text goes here."/>
    </div>
    <button type="submit" class="button is-primary is-light is-pulled-right">Create Post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>